$color_light_green_01: #58cda4;
$color_light_green_02: #58cd6a;
$color_dark_green_01: #32a77e;
$color_dark_green_02: #38ba8d;
$color_light_pink_01: #cd5881;
$color_light_orange_01: #cd6a5b;
$color_light_yellow_01: #ffff3b;
$color_dark_yellow_01: #ffa500;
$color-dark_grey_01: #616161;
$color-dark_grey_02: #979797;
$color_error: #f86868;
$color_error_darker: #d80000;
